<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    
    <ion-title>
      ITEM
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item button (click)="buttonClick()">
 <ion-thumbnail class="ion-margin-end">
   <ion-img src="assets/key1.jpg"></ion-img>
   </ion-thumbnail>
<ion-label>Mechanical keyboard </ion-label>
<ion-label>1,000php </ion-label>
</ion-item>

<ion-item button (click)="buttonClick()">
  <ion-thumbnail class="ion-margin-end">
    <ion-img src="assets/key2.jpg"></ion-img>
    </ion-thumbnail>
 <ion-label>A4tech Keyboard </ion-label>
 <ion-label>600php </ion-label>
 </ion-item>
 
 <ion-item button (click)="buttonClick()">
  <ion-thumbnail class="ion-margin-end">
    <ion-img src="assets/key3.jpg"></ion-img>
    </ion-thumbnail>
 <ion-label>Lumesurry Keyboard</ion-label>
 <ion-label>8000php </ion-label>
 </ion-item>

 <ion-item button (click)="buttonClick()">
  <ion-thumbnail class="ion-margin-end">
    <ion-img src="assets/key4.jpg"></ion-img>
    </ion-thumbnail>
 <ion-label>Logitech Mechanical keyboard </ion-label>
 <ion-label>1,400php </ion-label>
 </ion-item>

 <ion-item button (click)="buttonClick()">
  <ion-thumbnail class="ion-margin-end">
    <ion-img src="assets/key5.jpg"></ion-img>
    </ion-thumbnail>
 <ion-label>Hp Mechanical keyboard </ion-label>
 <ion-label>1,100php </ion-label>
 </ion-item>

 <ion-item button (click)="buttonClick()">
  <ion-thumbnail class="ion-margin-end">
    <ion-img src="assets/key6.jpg"></ion-img>
    </ion-thumbnail>
 <ion-label>ROG Mechanical keyboard </ion-label>
 <ion-label>1,700php </ion-label>
 </ion-item>

 <ion-item button (click)="buttonClick()">
  <ion-thumbnail class="ion-margin-end">
    <ion-img src="assets/key7.jpg"></ion-img>
    </ion-thumbnail>
 <ion-label>Logitech keyboard </ion-label>
 <ion-label>1,100php </ion-label>
 </ion-item>

 <ion-item button (click)="buttonClick()">
  <ion-thumbnail class="ion-margin-end">
    <ion-img src="assets/key8.jpg"></ion-img>
    </ion-thumbnail>
 <ion-label>Red Dragon Mechanical keyboard </ion-label>
 <ion-label>9000php </ion-label>
 </ion-item>

<ion-item button (click)="buttonClick()" color="primary">
  
  <ion-label>
    <center >Add to Cart</center>
    
  </ion-label>
</ion-item>
</ion-content>
