<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/avatar-1.jpg" />
    <ion-card-header>
      <ion-card-title>James Nicole Ybanez</ion-card-title>
    </ion-card-header>
    <p>
      Hi! I'am James Nicole Ybanez, and I am a IT student a
t Gordon college, Currently i am a 3rd year student. and I am working student
    </p>
  </ion-card>
</ion-content>
